// Layout for blockquote on frontpage

.home.page-template-default {
  blockquote {
    float: left;
    width: 55%;

    + p {
      margin-top: 4rem;

      + h2 {
        clear: both;
      }
    }
  }
}

.archive-list .card--keynote .speaker-bio {
  padding-left: 0;
  width: 100%;
}


.entry-content .extra-links {
  margin: 2rem 0 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
  }
}

.grid.speakers {
  margin-top: 3rem;
}

@speakergridmargin: 9rem;

.grid--col-3.speakers {
  @media @desktop {
    > div,
    > div:first-child,
    > section,
    > section:first-child {
      width: ~"calc(33.333% - @{speakergridmargin})";
      margin-left: @speakergridmargin / 2;
      margin-right: @speakergridmargin / 2;
    }
  }
}

.section-block {
  h2 {
    margin-top: 0;
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  header {
    border-top: .1rem solid @border_color;
    .gc-inner-container;
    margin-top: 3rem;
    padding-top: 2rem;
  }

  + .section-block header {
    @media @tablet {
      margin-top: 5rem;
    }
    @media @desktop {
      margin-top: 8rem;
    }
  }

  .card__title {
    width: 100%;
  }

}

.grid > .card--speaker {
  margin-top: 8rem;
}

.archive.category {

  .archive-list .entry.teaser {
    .gc-box-shadow;
  }

  .taxonomy-description {
    background: @white;
    .gc-box-shadow;
    padding: 3rem;
  }
}

.extra-links {
  padding-left: 0;

  li {
    list-style: none;
  }
}
